.text-box{
    animation: slide-up 2s;
    color: cadetblue;
}
@keyframes slide-up {
    from {
        opacity: 0.2;
        line-height: 200px;
    }
    to {
        opacity: 1;
        line-height: 10px;
    }
}

