body{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: 100%;
  background: #a68989;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  color:#a9b388;
}
.wrapper{
height: 100%;
width: 50%;
background: #a9b388;
overflow: hidden;
color: #a68989;
position: absolute;
top: 0;
left: 0;
border-right: 2px solid #cbccbc;
}
.sliding{
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  font-family: Courier New ;
  animation: animate 20s linear infinite;
}
@keyframes animate {
 0%
 {
  transform: translate(0, -50%);
 }
 100%
 {
  transform: translate(-50%, -50%);
 }
}
nav {
display: flex;
justify-content: center;
justify-content: space-between;
justify-content: space-around;
background-color:#cbccbc;
}
.nav{
  color: #eae7d6;
  background-color: #5d7b6f;
  width: 80px;
  height: 50px;
  border-radius: 30px;
  border-color: antiquewhite;
  border-top: antiquewhite;
  border-bottom: antiquewhite;
  border-right: antiquewhite;
  border-left: antiquewhite;
}

.heading{
  text-decoration: wavy;
}


.footer{
  background-color:   #cbccbc;
  padding: 20px 0 100px;
  margin-top: 3px;
  justify-self: end;
  margin-top: 610px;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  max-width: 120px;
}

.footer .row > div:first-child{
  display: flex;
}
.footer .row{
  align-items: flex-start;
}
.footer-map{
  display: flex;
}

.footer-map ul li{
  line-height: 2;
  font-size: 0.8em;
  text-transform: uppercase;
  list-style: none;
}

.footer-map span{
  font-size: 1.1em;
  font-weight: 700;
}

.footer input{
  padding: 10px 15px;
}

.footer button{
  padding: 10px 15px;
  background-color: #5d7b6f;
  color: #cbccbc;
  border-color: transparent;
}
.container{
  max-width: 1160px; 
   padding: 0 20px; 
  margin: auto;

}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}