body{
    margin:auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  display: flex;
  background-color: lavender;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.header__logo {
  color:#a68989;
  font-weight: 600;
}
.nav__list{
  display: flex;
  align-items: center;
}
.nav__item {
  margin: 0 8px;
}
.nav__link{
  padding: 10px;
  color: #a68989;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
}
.nav__link:hover{
  background-color: lavenderblush;
}

.header__toggle,.header__close {
  display: none;
}

@media screen and (max-width: 768px) {
  header{
    height: 48px;
    justify-content: space-between;
    padding: 0 28px;
  }

  .logo a{
    font-size: 0.9rem;
  }
  .logo img{
    width: 30px;
  }
  .header__toggle{
    display: inline;
    color: lavenderblush;
    font-size: 24px;
  }
  .header__close{
    position: absolute;
    right: 24px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
  }
  .header__close:hover{
    background-color: lavenderblush;
  }
  .nav{
    position: fixed;
    top: 0;
    right: -100%; 
    background-color: lavender;
    color: lavenderblush;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
  }
  .nav__item{
    margin: 2rem 0;
  }
  .show{
    right: 0;
  }
}
    
    .footer{
        background-color:lavender;
        padding: 20px 0 100px;
        margin-top: 3px;
    }
    
    .footer-logo{
        display: flex;
        flex-direction: column;
        max-width: 120px;
    }
    
    .footer .row > div:first-child{
        display: flex;
    }
    .footer .row{
        align-items: flex-start;
    }
    .footer-map{
        display: flex;
    }
    
    .footer-map ul li{
        line-height: 2;
        font-size: 0.8em;
        text-transform: uppercase;
        list-style: none;
    }
    
    .footer-map span{
        font-size: 1.1em;
        font-weight: 700;
    }
    
    .footer input{
        padding: 10px 15px;
    }
    
    .footer button{
        padding: 10px 15px;
        background-color: #5d7b6f;
        color: #fff;
        border-color: transparent;
        cursor:pointer;
    }
    .container{
        max-width: 1160px; 
         padding: 0 20px; 
        margin: auto;
     
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .foto{
        min-height:600px; 
       background-image: url(purple_ball.jpg);
       background-repeat: no-repeat;
       background-position: center;

       background-size: cover;
     
      margin-left: 0 ;
     
   } 
   .title {
       animation: color-animation 4s  infinite;
     }
     
     .title2{
       --color-1: #5d7b6f;
       --color-2: #a68989;;
       --color-3: #060f2c;
     }
   
     
   @keyframes color-animation {
       0%    {color: var(--color-1)}
       32%   {color: var(--color-1)}
       33%   {color: var(--color-2)}
       65%   {color: var(--color-2)}
       66%   {color: var(--color-3)}
       99%   {color: var(--color-3)}
       100%  {color: var(--color-1)}
     }
   
     .search input{
        margin-left:20px;
       padding: 10px 15px;
       height:39px;
       width:300px;
       
   }
   
   .search button{
    margin-left: 5px;
       padding: 10px 15px;
       height:39px;
       background-color:lavender;
       color: #fff;
       border-color: transparent;
    cursor:pointer;
   } 
   .search{

    display: flex;
    padding-left:35px;
    padding-bottom:10px ;
    padding-top: 30px;
   }
   .questions{

    border: 1px solid #000;
    width:250px;
    margin-left:80px;
   }
   .text{

    padding-left:10px;
    padding-right:10px;
   }
   .text1{
    padding: 10px;
   }
   .qa{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
   }
   .moreText{
    display:none;
   }
   .rdm{
    border:none;
    outline: #060f2c;
    cursor:pointer;
   background-color:  lavender;
   color:#a68989;
   
  
  
   }
   .text.show_more  .moreText{
    display:inline;
   }
   .title3{
    position: absolute;
    top:90px; 
    right:120px;
   }
   .title4{
    position: absolute;
    top:130px; 
    right:10px;
   }